*{
    margin: 0;
    padding: 0;
}
body{
    width:75%;
    min-width:360px;
    margin:auto;
}
#main{
    width:100%;
    min-height: 300px;
    max-height: 100vh;
    aspect-ratio:calc(6/5);
    display:flex;
    flex-wrap:nowrap;
}
canvas{
    aspect-ratio:1;
    background-color: rgb(126, 126, 126);
}
#objects{
    width: 100%;
    min-width:60px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    background-color: rgb(194, 194, 194);
}
#button_list{
    width: 100%;
    list-style-type: none;
}
.spawn_button{
    width:100%;
    height:100%;
    background-color:rgb(100, 177, 106);
    border:none;
    cursor: grab;
    
}
.spawn_button:hover{
    background-color:rgb(80, 157, 86);
}
.phys_obj{
    width:100%;
    max-height:60px;
    
    height:10%;
    min-height:30px;
    font-size: 100%;
}
.hover_with_obj{
    cursor:grabbing;
}