*{
    margin: 0;
    padding: 0;
}
body{
    margin-left:12.5%;
    margin-right:12.5%;
}
#main{
    width:100%;
    aspect-ratio:calc(16/9);
    display:flex;
    flex-wrap:nowrap;
}
canvas{
    
    width: 80%;
    height: 80%;
    background-color: rgb(126, 126, 126);
}
#objects{
    width: 20%;
    height: 80%;
    display: inline-block;
    vertical-align: top;
    background-color: rgb(194, 194, 194);
}
#button_list{
    width: 100%;
    list-style-type: none;
}
.spawn_button{
    width:100%;
    height:100%;
    background-color:rgb(100, 177, 106);
    border:none;
    cursor: grab;
}
.spawn_button:hover{
    background-color:rgb(80, 157, 86);
}
.phys_obj{
    width:100%;
    height:10%;
}
.hover_with_obj{
    cursor:grabbing;
}